html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: url(../images/left.png) left bottom no-repeat, url(../images/right.png) right bottom no-repeat, #EEEEEE;
  color: #333333;
}

#wrapper {
  max-width: 1300px;
  margin: auto;
}

.headding {
  color: #e95d0f;
  font-size: 24px;
  margin: 40px 0 0 0;
  padding: 0px 20px;
  font-weight: 800;
}

/*####### NAVIGATION #######*/
header {
  background-color: #fff;
}

header #wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header #wrapper #logo {
  font-size: 30px;
  font-weight: 800;
  margin: 20px 40px 20px 0px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 30px;
}

header #wrapper nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
header #wrapper nav #items_c {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#items_c .item {
  font-family: 'Noto Sans', sans-serif;
  padding: 15px 15px;
  cursor: pointer;
}
#items_c .item a:hover {
  color: #C31924;
}
#items_c .item a {
  color: #000;
  text-decoration: none;
}

header #wrapper #cdu {
  font-size: 0px;
}

/*######## CONTENT ###########*/
#hero {
  font-size: 0px;
}

#hero img {
  width: 100%;
}

#full_text {
  background-color: #fff;
}

#full_text #wrapper {
  padding: 40px 20px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 26px;
}

#full_text #wrapper b {
  font-size: 24px;
  color: #005a9a;
}

#blog #wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#blog .item {
  width: calc(100% / 3 - 40px);
  -ms-flex: 0 auto;
  flex: 0 auto;
  min-width: 245px;
  margin: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

#blog .item.big {
  width: calc((100% / 3 - 20px) * 2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}
#blog .item.archive, #blog .item.big.archive {
  width: 100%;
}

#blog .item .image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}

#blog .item.big .image {
  background-color: #fff;
  padding: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  height: unset;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: justify;
  box-shadow: unset;
}

#blog .item.big .image p {
  margin: 0;
}

#blog .item .info {
  color: #bbb;
}

#blog .item .text {
  width: 90%;
  position: relative;
  margin-top: -60px;
  background-color: #fff;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}

#blog .item.big .text {
  margin-top: 0px;
  padding: 20px 20px 0px 20px;
  flex: unset;
  width: 100%;
  box-shadow: 0px 0px transparent;
}

#blog .item .text .title {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

#blog .item .text .title a {
  color: #000;
  text-decoration: none;
}

#blog .item .text .title a:hover {
  color: #C31924;
}
#blog .item.big .text .title {
  cursor: auto;
}

#flexy #wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

#map_c > label, #calender_c > label {
  color: #e95d0f;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  font-weight: 800;
}

#map_c {
  margin: 20px;
  width: calc((100% / 3 - 20px)*2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

#map_c #background_wrapper {
  padding: 20px;
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}

#map_c #background_wrapper label {
  display: block;
  margin-bottom: 10px;
  font-weight: 800;
}

#map {
  min-height: 200px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#calender_c {
  width: calc(100% / 3 - 40px);
  margin: 20px;
  flex-grow: 1;
  min-width: 245px;
}

#calender_c #calender div {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}

#calender_c #calender div:last-child {
  margin-bottom: 0px;
}

#calender_c #calender div label {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

#calender_c #calender div label.title {
  font-weight: 800;
}

#calender_c #calender div label:last-child {
  margin-bottom: 0px;
}

#contact {
  background-color: #fff;
  margin-top: 40px;
}

#contact #wrapper {
  padding: 40px 20px;
  box-sizing: border-box;
}

#contact #wrapper .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

#contact #wrapper .item label:first-child {
  margin-bottom: 10px;
}

#contact #wrapper .item label:last-child {
  font-weight: 800;
  font-size: 20px;
}

footer #wrapper {
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}
footer #wrapper a {
  color: #333333;
  text-decoration: none;
}

/*########## POST #############*/
#post #wrapper .center {
  text-align: center;
}

#post #wrapper .center.image {
  font-size: 0px;
}

#post #wrapper .center img {
  width: 100%;
}

#post #wrapper #content .center label {
  display: block;
  font-weight: 300;
}

#post #wrapper #content .center.halfimg img {
  width: 50%;
}
#post #wrapper #content .center.halfimg label {
  max-width: 610px;
  margin: auto;
}

#post #wrapper .center p {
  font-size: 25px;
  margin: 0;
  font-weight: 800;
  margin-bottom: 20px;
}

#post #wrapper #content {
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 17px;
}

#post #wrapper #content img {
  display: block;
  width: 100%;
  margin: auto;
}

/*############## Themen ############*/
#themen #wrapper {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);  
}
#themen #wrapper.nobg {
  background-color: transparent;
  box-shadow: 0px 0px transparent;
}

#themen #wrapper .center {
  text-align: center;
}

#themen #wrapper .center p {
  font-size: 25px;
  margin: 0;
  font-weight: 800;
  margin-bottom: 20px;
}
#themen #wrapper .center.nomargin p {
  margin-bottom: 0px;
}
#themen #wrapper #themenlist {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

#themen #wrapper #themenlist .item {
  width: calc(50% - 40px);
  flex-grow: 1;
  min-width: 245px;
  margin: 20px;
}

#themen #wrapper #themenlist .item label {
  display: block;
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 18px;
}

#wahlkreis {
  margin: 20px 20px 0px 20px;
  box-sizing: border-box;
}

#strassen_input {
  width: 100%;
  font-family: 'Open Sans',sans-serif;
  padding: 10px;
  margin: 10px 0px;
  font-size: 16px;
  box-sizing: border-box;
}

#strassen {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  margin-bottom: 20px;
}

#strassen label {
  display: block;
  padding: 5px;
  white-space: nowrap;
  width: 295px;
}
/*############## Zur Person ############*/
#aboutme {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
#aboutme #picture {
  font-size: 0px;
}
#aboutme #picture img {
  max-height: 600px;
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.1);
}
#aboutme #info {
  font-size: 17px;
  line-height: 26px;
  padding: 0px 0px 0px 40px;
}
#aboutme #info label {
  display: block;
}
a.bigLink {
  text-decoration: none;
  background-color: #fff;
  font-weight: 800;
  padding: 10px 40px;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  margin: 20px;
  font-size: 17px;
}
a.bigLink:hover {
  color: #C31924;
}
#wrapper.oldposts {
  text-align: right;
}
#wrapper.oldposts a {
  color: #e95d0f;
  margin-right: 20px;
  text-decoration: none;
}
table {
  margin: auto;
  border-collapse: collapse;
}
table thead {
  background-color: #1A1F25;
  color: #fff;
}
thead tr th {
  padding: 5px 10px;
  border-right: 1px solid #c5c5c5;
}
thead tr th:last-of-type {
  border-right: 0px;
}
table tbody tr {
  border-top: 1px solid #c5c5c5;
}
table tbody tr:first-of-type {
  border-top: 0px;
}
table tbody tr:nth-of-type(2n+1) {
  background-color: #eee;
}
table tbody tr td {
  padding: 5px 10px;
  border-right: 1px solid #c5c5c5;
}
table tbody tr td:last-of-type {
  border-right: 0px;
}

li p {
  white-space: pre-line;
}