@media only screen and (max-width: 1000px) {
	body {
		background: #EEEEEE;
	}
	header #wrapper #logo {
		order: 2;
		flex: 1;
		margin-left: 20px;
	}
	header #wrapper nav {
		order: 1;
		flex: unset;
		padding: 20px 0px;
	}
	header #wrapper nav #items_c {
		display: none;
	}
	header #wrapper #cdu {
		order: 3;
	}
	.nav-open {
		cursor: pointer;
	}
	#nav:checked + .nav-open {
		transition: transform 0.2s ease;
		transform: rotate(45deg);
		display: block;
		padding: 15px 10px 15px 0px;
		position: relative;
		z-index: 999;
		cursor: pointer;
	}
	#nav:checked + .nav-open i {
		background: #000;
		transition: transform 0.2s ease;
		position: relative;
		z-index: 2;
	}
	#nav:checked + .nav-open i:nth-child(1) {
		transform: translateY(6px) rotate(180deg);
	}
	#nav:checked + .nav-open i:nth-child(2) {
		opacity: 0;
	}
	#nav:checked + .nav-open i:nth-child(3) {
		transform: translateY(-6px) rotate(90deg);
	}
	#nav:checked ~ #items_c {
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
		background-color: #fff;
		flex-direction: column;
		padding-top: 60px;
	}
	#nav:checked ~ #items_c .item {
		font-size: 20px;
	}
	.nav-open i {
		display: block;
		width: 20px;
		height: 2px;
		background: #1f2227;
		border-radius: 2px;
		margin-left: 14px;
	}
	.nav-open i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}
	.nav-open i:nth-child(3) {
		margin-top: 4px;
	}
}
.hidden {
	display: none;
}
